<div class="center hero-unit">
  <h1>Feliz cumpleaños Santi!</h1>

  <h2>
    Santi
    <a href="http://www.9sennik.pl/wp-content/uploads/2012/11/ma%C5%82e-dziecko-sennik1.jpg">DZIECKO</a>
    para siempre.
  </h2>

  <%= link_to "Este botón to tiene sentido", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("tort.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>